# compiled output
node_modules

# dynamic files
files

# OS
.DS_Store

# Tests
generated/coverage

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Database Cache
*.db
*.db-journal
